# Godot 4+ specific ignores
.godot/

# stutid temp files
*.tmp

# other
desktop.ini
.exports/
.vscode/
todo.txt
pkey.txt
scr_testroom.gd
scn_room_test_room.tscn
scn_tech_test.tscn
scn_room_test_2.tscn

# macbook more like CRAP
.DS_Store